:root{
    --msgColor: yellow;
    --fontSize: 16px;
}

@keyframes hint {
    0%{ opacity: 1; }
    100%{ opacity: 0; }
}

@keyframes fade_in {
    0%{
      opacity: 0;  
    }
    100%{
        visibility: visible;
        opacity: 1;
    }
}

@keyframes fade_out{
    0%{
        visibility: visible;
        opacity: 1;  
      }
    100%{
        opacity: 0;
    }
}

@keyframes statusMessage_move_x {
    0%{
        transform: translateX(5%);
    }
    75%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(-50%);
    }
}

@keyframes statusMessage_move_y {
    0%{
        transform: scale(1.1) translateY(0);
    }
    75%{
        animation-timing-function: cubic-bezier(.2,.9,.96,1.43);
        transform: scale(1.3) translateY(-20%);
    }
    100%{
        transform: scale(1.3) translateY(0);
    }
}

body{
    font-family: "ＭＳ Ｐゴシック";
    font-smooth: never;
    -webkit-font-smoothing : none;
    /* -webkit-text-stroke: 0.75px black; */
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 0;
    padding: 0;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crips-edges;
    image-rendering: crips-edges;
    image-rendering: pixelated;
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0;
}

.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

.absolute{
    position: absolute;
}

.flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

#wrapper{
    position: relative;
    overflow: hidden;
    background-color: black;
}

#game{
    transition: all .3s ease-in-out;
}

#turn{
    position: absolute;
    background-color: white;
    padding: 5px;
    right: 0;
    z-index: 10;
}

#action_menu, #option_menu{
    width: 30%;
    transition: margin-left .1s ease-in-out;
}

.action_menu_close{
    margin-left: -100%;
    position: absolute;
    z-index: 12;
}

.action_menu_open{
    margin-left: 0;
}

ul{
    padding: 0;
    margin-left: 3px;
    list-Style: none;
}

li{
    background: white;
    border: 1px solid;
    padding: 1px 2px;
    margin:  3px 0;
    padding: 5px
}

#skillName{
    width: 100%;
    text-align: center;
    top: 0;
}

#skillName > p{
    width: fit-content;
    margin:  0 auto;
    opacity: 0;
    color: white;
    background: black;
    transition: all .3s ease-in-out;
    transform: translateY(10%);
}

#characterCaption{
    background: white;
    padding: 5px 5px 0 5px;
    bottom: 0;
    /* width: 80%; */
}

.caption_top > h5{
    margin: 0 auto 0 0;
}

.caption_top > span{
    margin:  0 5px;
    /* font-size: .8rem; */
}

#characterCaption > ul > li{
    margin: 3px 0;
}

.hint{
    display: none;
    animation: hint .5s ease-in-out infinite;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

.display{
    display: block;
}

.hide{
    display: none;
}

.gauge{
    padding: 0;
}

.hp{
    background: red;
}

.mp{
    background: blue;
}

#Phase_Transition{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 15;
    text-align: center;
}

#Phase_Transition > #phase{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    margin: 0;
}

.fade_in{
    animation: fade_in 1s ease-in-out forwards;
}

.fade_out{
    animation: fade_out .5s ease-in-out forwards;
}

.statusMessage{
    animation: statusMessage_move_x .5s ease-in forwards;
}

.statusMessage::after{
    content: attr(data-message);
    display: block;
    color: var(--msgColor);
    font-size:  var(--fontSize);
    animation: statusMessage_move_y .5s ease-out forwards;
}

.menu{
    box-sizing: border-box;
    background-color: black;
    color: white;
    transition: all .3s ease-in-out;
    opacity: 0;
    z-index: 15;
}

#status > .status_header > img{
    border: 1px solid red;
    margin-right: 5%;
}

#status > table{
    width: 100%;
}

.open_window{
    top: 0;
    opacity: 1;
}

.open_subWindow{
    bottom: 0;
}

.config_item{
    align-items: center;
}

#dialogue{
    bottom: 0;
}

.back{
    right: 0;
}

#inventory, #dropped-items{
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-between; */
    overflow-y: scroll;
}

.filter-group{
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    align-items: center;
    text-align: center;
}

.filter{
    /* width: 23%;
    height: 23%; */
    margin: 1%;
    background: #cccccc;
    border: none;
}

.filtering{
    background: #ffffff;
}


#itemAction{
    border-top: 1px solid white;
}

#item-desc{
    justify-content: space-between;
}

.item{
    flex: 0 0 30%;
    position: relative;
    border: 1px dotted white;
}

.item-equip{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: black;
}

.item-count{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
}

.sub-action{
    flex-grow: 1;
    width: 25%;
    height: 25%;
    color: black;
}

.item-toolTip{
    visibility: hidden;
    position: absolute;
    color: white;
    font-size: 14px;
    left: 10px;
    top: 10px;
    padding: 0 5px;
}

.item-selected{
    border: 1px solid yellow;
}

.no-event{
    pointer-events: none;
    background: #cccccc;
}

.btn-group{
    text-align: center;
    position: absolute;
    bottom: 0;
}

#silder{
    background: black;
    /* color: white; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#slider > p {
    text-align: center;
}

#slider > div {
    justify-content: center;
}

#range {
    -webkit-appearance: none;
    appearance: none;
    background: lightgray;
    height: 0.5rem;
    border-radius: 10px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

#range::-webkit-slider-runnable-track {
    /* background: #053a5f; */
    height: 0.5rem;
  }

#range::-moz-range-thumb {
    border-radius: 50%;
    background: grey;
    cursor: pointer;
}

#range::-moz-range-track {
    /* background: #053a5f; */
    height: 0.5rem;
  }
  
  .learned-skills, #member_list{
    overflow-y: scroll;
  }

  #member_list > li{
    background: black;
    justify-content: space-between;
    align-items: center;
  }

  .skill{
    background: unset;
    /* justify-content: space-between; */
  }

  .attribute-toggle{
    justify-content: start;
    color: white;
  }

  .attribute-toggle > span{
    /* margin: 0 1%;
    padding: 1%; */
    border: 1px solid white;
  }

  #objective > ul > li{
    background: black;
    border: 1px dotted white;
  }
