body{
    display: flex;
    justify-content: center;
    background-color: gray;
    /* margin: 0; */
    /* padding: 0; */
}

.absolute{
    position: absolute;
}

#wrapper{
    position: relative;
    overflow: hidden;
}

#game{
    /* border: 1px solid red; */
    aspect-ratio: 9 / 16;
    /* height: 90vh; */
}

#action_menu{
    margin-left: -100%;
    transition: margin-left .1s ease-in-out;
}

ul{
    background: white;
    padding: 0;
    margin-left: 3px;
    list-Style: none;
    width: 100px;
}

li{
    border: 1px solid;
    padding: 1px 2px;
    margin:  0;
}

#characterCaption{
    background: white;
    padding: 3px;
    bottom: 0;
    visibility: hidden;
}

#characterCaption > ul > li{
    margin: 3px 0;
}

.hp{
    background: red;
}

.mp{
    background: blue;
}