body{
    display: flex;
    justify-content: center;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.absolute{
    position: absolute;
}

#wrapper{
    position: relative;
    overflow: hidden;
}

/* #game{
    border: 1px solid red;
    aspect-ratio: 9 / 16; 
    height: 100vh; 
}*/

#turn{
    position: absolute;
    right: 0;
    z-index: 10;
}

#action_menu{
    transition: margin-left .1s ease-in-out;
}

.action_menu_close{
    margin-left: -100%;
    position: absolute;
    z-index: 12;
}

.action_menu_open{
    margin-left: 0;
}

ul{
    padding: 0;
    margin-left: 3px;
    list-Style: none;
}

li{
    background: white;
    border: 1px solid;
    padding: 1px 2px;
    margin:  3px 0;
    padding: 5px
}

#characterCaption{
    background: white;
    padding: 5px 5px 0 5px;
    bottom: 0;
    visibility: hidden;
    width: 80%;
}

#characterCaption > ul > li{
    margin: 3px 0;
}

.visible{
    visibility: visible;
}

.invisible{
    visibility: hidden;
}

.hp{
    background: red;
}

.mp{
    background: blue;
}

#Phase_Transition{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    z-index: 15;
    text-align: center;
    transition: visibility .5s ease-in-out;
}

#Phase_Transition > h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}